
.icon-ammyadmin:before { content: '\e800'; } /* '' */
.icon-ain:before { content: '\e801'; } /* '' */
.icon-ansible:before { content: '\e802'; } /* '' */
.icon-ajax:before { content: '\e803'; } /* '' */
.icon-angular:before { content: '\e804'; } /* '' */
.icon-android:before { content: '\e805'; } /* '' */
.icon-appcode:before { content: '\e806'; } /* '' */
.icon-apache:before { content: '\e807'; } /* '' */
.icon-apple:before { content: '\e808'; } /* '' */
.icon-appcode-alt:before { content: '\e809'; } /* '' */
.icon-apache-ant:before { content: '\e80a'; } /* '' */
.icon-ampersand:before { content: '\e80b'; } /* '' */
.icon-android-studio:before { content: '\e80c'; } /* '' */
.icon-arduino:before { content: '\e80d'; } /* '' */
.icon-anydesk:before { content: '\e80e'; } /* '' */
.icon-appdynamics:before { content: '\e80f'; } /* '' */
.icon-atom:before { content: '\e810'; } /* '' */
.icon-appstore-alt:before { content: '\e811'; } /* '' */
.icon-autocad:before { content: '\e812'; } /* '' */
.icon-archlinux:before { content: '\e813'; } /* '' */
.icon-arcsight:before { content: '\e814'; } /* '' */
.icon-archlinux-alt:before { content: '\e815'; } /* '' */
.icon-aws-appstream:before { content: '\e816'; } /* '' */
.icon-aurelia:before { content: '\e817'; } /* '' */
.icon-appstore:before { content: '\e818'; } /* '' */
.icon-aws-artifact:before { content: '\e819'; } /* '' */
.icon-aws-certificatemanager:before { content: '\e81a'; } /* '' */
.icon-aws-cloudhsm:before { content: '\e81b'; } /* '' */
.icon-aws-cloudformation:before { content: '\e81c'; } /* '' */
.icon-aws-cloudwatch:before { content: '\e81d'; } /* '' */
.icon-aws-cloudtrail:before { content: '\e81e'; } /* '' */
.icon-aws-cloudsearch:before { content: '\e81f'; } /* '' */
.icon-aws-codecommit:before { content: '\e820'; } /* '' */
.icon-aws-agent:before { content: '\e821'; } /* '' */
.icon-aws:before { content: '\e822'; } /* '' */
.icon-aws-decider:before { content: '\e823'; } /* '' */
.icon-aws-config:before { content: '\e824'; } /* '' */
.icon-aws-dynamodb:before { content: '\e825'; } /* '' */
.icon-aws-codedeploy:before { content: '\e826'; } /* '' */
.icon-aws-directconnect:before { content: '\e827'; } /* '' */
.icon-aws-directoryservice:before { content: '\e828'; } /* '' */
.icon-aws-configlog:before { content: '\e829'; } /* '' */
.icon-aws-ec2:before { content: '\e82a'; } /* '' */
.icon-aws-elasticbeanstalk:before { content: '\e82b'; } /* '' */
.icon-aws-elasticache:before { content: '\e82c'; } /* '' */
.icon-aws-apigateway:before { content: '\e82d'; } /* '' */
.icon-aws-emr:before { content: '\e82e'; } /* '' */
.icon-aws-glacier:before { content: '\e82f'; } /* '' */
.icon-aws-elb:before { content: '\e830'; } /* '' */
.icon-aws-iam:before { content: '\e831'; } /* '' */
.icon-aws-kms:before { content: '\e832'; } /* '' */
.icon-asp:before { content: '\e833'; } /* '' */
.icon-aws-lambda:before { content: '\e834'; } /* '' */
.icon-aws-ecs:before { content: '\e835'; } /* '' */
.icon-aws-kcl:before { content: '\e836'; } /* '' */
.icon-aws-marketplace:before { content: '\e837'; } /* '' */
.icon-aws-message:before { content: '\e838'; } /* '' */
.icon-aws-ebs:before { content: '\e839'; } /* '' */
.icon-aws-rds:before { content: '\e83a'; } /* '' */
.icon-aws-elastictranscoder:before { content: '\e83b'; } /* '' */
.icon-aws-route53:before { content: '\e83c'; } /* '' */
.icon-aws-redshift:before { content: '\e83d'; } /* '' */
.icon-aws-ses:before { content: '\e83e'; } /* '' */
.icon-aws-networking:before { content: '\e83f'; } /* '' */
.icon-aws-lambda-alt:before { content: '\e840'; } /* '' */
.icon-aws-sqs:before { content: '\e841'; } /* '' */
.icon-aws-swf:before { content: '\e842'; } /* '' */
.icon-aws-storagegateway:before { content: '\e843'; } /* '' */
.icon-aws-s3bucket:before { content: '\e844'; } /* '' */
.icon-aws-sns:before { content: '\e845'; } /* '' */
.icon-aws-organisations:before { content: '\e846'; } /* '' */
.icon-azure:before { content: '\e847'; } /* '' */
.icon-azure-activedirectory:before { content: '\e848'; } /* '' */
.icon-aws-waf:before { content: '\e849'; } /* '' */
.icon-azure-accesscontrol:before { content: '\e84a'; } /* '' */
.icon-azure-alert:before { content: '\e84b'; } /* '' */
.icon-azure-applicationinsight:before { content: '\e84c'; } /* '' */
.icon-azure-apimanagement:before { content: '\e84d'; } /* '' */
.icon-aws-vpc:before { content: '\e84e'; } /* '' */
.icon-azure-automation:before { content: '\e84f'; } /* '' */
.icon-azure-apiapp:before { content: '\e850'; } /* '' */
.icon-azure-autoscaling:before { content: '\e851'; } /* '' */
.icon-azure-appservice:before { content: '\e852'; } /* '' */
.icon-azure-batch:before { content: '\e853'; } /* '' */
.icon-azure-cloudservice:before { content: '\e854'; } /* '' */
.icon-azure-backupservice:before { content: '\e855'; } /* '' */
.icon-azure-contentdeliverynetwork:before { content: '\e856'; } /* '' */
.icon-azure-cache:before { content: '\e857'; } /* '' */
.icon-azure-codeplex:before { content: '\e858'; } /* '' */
.icon-azure-biztalkservice:before { content: '\e859'; } /* '' */
.icon-azure-endpoint:before { content: '\e85a'; } /* '' */
.icon-azure-eventhub:before { content: '\e85b'; } /* '' */
.icon-azure-datafactory:before { content: '\e85c'; } /* '' */
.icon-azure-expressroute:before { content: '\e85d'; } /* '' */
.icon-azure-documentdb:before { content: '\e85e'; } /* '' */
.icon-azure-filesservice:before { content: '\e85f'; } /* '' */
.icon-aws-shield:before { content: '\e860'; } /* '' */
.icon-aws-vpn:before { content: '\e861'; } /* '' */
.icon-azure-hybridconnection:before { content: '\e862'; } /* '' */
.icon-aws-worker:before { content: '\e863'; } /* '' */
.icon-azure-keyvault:before { content: '\e864'; } /* '' */
.icon-aws-queue:before { content: '\e865'; } /* '' */
.icon-azure-loadbalancer:before { content: '\e866'; } /* '' */
.icon-azure-logicapp:before { content: '\e867'; } /* '' */
.icon-azure-machinelearning:before { content: '\e868'; } /* '' */
.icon-azure-marketplace:before { content: '\e869'; } /* '' */
.icon-azure-mediaservice:before { content: '\e86a'; } /* '' */
.icon-azure-microsoftaccount:before { content: '\e86b'; } /* '' */
.icon-azure-mobileapp:before { content: '\e86c'; } /* '' */
.icon-azure-mobileengagement:before { content: '\e86d'; } /* '' */
.icon-azure-multifactorauthentication:before { content: '\e86e'; } /* '' */
.icon-azure-mysqldatabase:before { content: '\e86f'; } /* '' */
.icon-azure-notificationhubs:before { content: '\e870'; } /* '' */
.icon-azure-notificationtopic:before { content: '\e871'; } /* '' */
.icon-azure-office:before { content: '\e872'; } /* '' */
.icon-azure-operationalinsights:before { content: '\e873'; } /* '' */
.icon-azure-osimage:before { content: '\e874'; } /* '' */
.icon-azure-remoteapp:before { content: '\e875'; } /* '' */
.icon-azure-remotingfile:before { content: '\e876'; } /* '' */
.icon-azure-rightsmanagement:before { content: '\e877'; } /* '' */
.icon-azure-scheduler:before { content: '\e878'; } /* '' */
.icon-azure-sdk:before { content: '\e879'; } /* '' */
.icon-azure-search:before { content: '\e87a'; } /* '' */
.icon-azure-servicebus:before { content: '\e87b'; } /* '' */
.icon-azure-servicebusqueue:before { content: '\e87c'; } /* '' */
.icon-azure-servicebusrelay:before { content: '\e87d'; } /* '' */
.icon-azure-servicebustopic:before { content: '\e87e'; } /* '' */
.icon-azure-servicepackage:before { content: '\e87f'; } /* '' */
.icon-azure-siterecovery:before { content: '\e880'; } /* '' */
.icon-azure-sqldatabase:before { content: '\e881'; } /* '' */
.icon-azure-sqldatabase-alt:before { content: '\e882'; } /* '' */
.icon-azure-sqldatasync:before { content: '\e883'; } /* '' */
.icon-azure-startuptask:before { content: '\e884'; } /* '' */
.icon-azure-storage:before { content: '\e885'; } /* '' */
.icon-azure-storageblob:before { content: '\e886'; } /* '' */
.icon-azure-storagetable:before { content: '\e887'; } /* '' */
.icon-azure-storsimple:before { content: '\e888'; } /* '' */
.icon-azure-streamanalytics:before { content: '\e889'; } /* '' */
.icon-azure-subscription:before { content: '\e88a'; } /* '' */
.icon-azure-trafficmanager:before { content: '\e88b'; } /* '' */
.icon-azure-vhd:before { content: '\e88c'; } /* '' */
.icon-azure-vhddatadisk:before { content: '\e88d'; } /* '' */
.icon-azure-virtualmachine:before { content: '\e88e'; } /* '' */
.icon-azure-virtualnetwork:before { content: '\e88f'; } /* '' */
.icon-azure-webapp:before { content: '\e890'; } /* '' */
.icon-azure-webjobs:before { content: '\e891'; } /* '' */
.icon-azure-webroles:before { content: '\e892'; } /* '' */
.icon-azure-workaccount:before { content: '\e893'; } /* '' */
.icon-azure-workerroles:before { content: '\e894'; } /* '' */
.icon-babel:before { content: '\e895'; } /* '' */
.icon-babylon:before { content: '\e896'; } /* '' */
.icon-backbone:before { content: '\e897'; } /* '' */
.icon-batchmaster:before { content: '\e898'; } /* '' */
.icon-bc:before { content: '\e899'; } /* '' */
.icon-bcfont:before { content: '\e89a'; } /* '' */
.icon-bing:before { content: '\e89b'; } /* '' */
.icon-bing-alt:before { content: '\e89c'; } /* '' */
.icon-bitbucket:before { content: '\e89d'; } /* '' */
.icon-blender:before { content: '\e89e'; } /* '' */
.icon-bluetooth:before { content: '\e89f'; } /* '' */
.icon-bmw:before { content: '\e8a0'; } /* '' */
.icon-bootcamp:before { content: '\e8a1'; } /* '' */
.icon-bootstrap:before { content: '\e8a2'; } /* '' */
.icon-bower:before { content: '\e8a3'; } /* '' */
.icon-box:before { content: '\e8a4'; } /* '' */
.icon-brandflow:before { content: '\e8a5'; } /* '' */
.icon-braytonglobal:before { content: '\e8a6'; } /* '' */
.icon-brusselsaquariums:before { content: '\e8a7'; } /* '' */
.icon-c:before { content: '\e8a8'; } /* '' */
.icon-can:before { content: '\e8a9'; } /* '' */
.icon-cassandra:before { content: '\e8aa'; } /* '' */
.icon-catia:before { content: '\e8ab'; } /* '' */
.icon-cci:before { content: '\e8ac'; } /* '' */
.icon-cd:before { content: '\e8ad'; } /* '' */
.icon-centos:before { content: '\e8ae'; } /* '' */
.icon-certbot:before { content: '\e8af'; } /* '' */
.icon-chartjs:before { content: '\e8b0'; } /* '' */
.icon-chip:before { content: '\e8b1'; } /* '' */
.icon-chrome:before { content: '\e8b2'; } /* '' */
.icon-cinema4d:before { content: '\e8b3'; } /* '' */
.icon-cisco:before { content: '\e8b4'; } /* '' */
.icon-citrix:before { content: '\e8b5'; } /* '' */
.icon-citylity:before { content: '\e8b6'; } /* '' */
.icon-clion:before { content: '\e8b7'; } /* '' */
.icon-clion-alt:before { content: '\e8b8'; } /* '' */
.icon-clojure:before { content: '\e8b9'; } /* '' */
.icon-cloudera:before { content: '\e8ba'; } /* '' */
.icon-cnhindustrial:before { content: '\e8bb'; } /* '' */
.icon-cobol:before { content: '\e8bc'; } /* '' */
.icon-cobol-alt:before { content: '\e8bd'; } /* '' */
.icon-cocos:before { content: '\e8be'; } /* '' */
.icon-code:before { content: '\e8bf'; } /* '' */
.icon-codeacademy:before { content: '\e8c0'; } /* '' */
.icon-code-igniter:before { content: '\e8c1'; } /* '' */
.icon-codeschool:before { content: '\e8c2'; } /* '' */
.icon-code-writer:before { content: '\e8c3'; } /* '' */
.icon-coffee-script:before { content: '\e8c4'; } /* '' */
.icon-composer:before { content: '\e8c5'; } /* '' */
.icon-computer:before { content: '\e8c6'; } /* '' */
.icon-cordova:before { content: '\e8c7'; } /* '' */
.icon-coursera:before { content: '\e8c8'; } /* '' */
.icon-cozycloud:before { content: '\e8c9'; } /* '' */
.icon-cozycloud-alt:before { content: '\e8ca'; } /* '' */
.icon-cpanel:before { content: '\e8cb'; } /* '' */
.icon-cpanel-alt:before { content: '\e8cc'; } /* '' */
.icon-cpp:before { content: '\e8cd'; } /* '' */
.icon-crazytips:before { content: '\e8ce'; } /* '' */
.icon-crazytips-alt:before { content: '\e8cf'; } /* '' */
.icon-creativecloud:before { content: '\e8d0'; } /* '' */
.icon-cryengine:before { content: '\e8d1'; } /* '' */
.icon-c-sharp:before { content: '\e8d2'; } /* '' */
.icon-css:before { content: '\e8d3'; } /* '' */
.icon-ctw:before { content: '\e8d4'; } /* '' */
.icon-ctw-alt:before { content: '\e8d5'; } /* '' */
.icon-curl:before { content: '\e8d6'; } /* '' */
.icon-cvbroker:before { content: '\e8d7'; } /* '' */
.icon-cypress:before { content: '\e8d8'; } /* '' */
.icon-cypress-alt:before { content: '\e8d9'; } /* '' */
.icon-d3:before { content: '\e8da'; } /* '' */
.icon-dart:before { content: '\e8db'; } /* '' */
.icon-database:before { content: '\e8dc'; } /* '' */
.icon-datacamp:before { content: '\e8dd'; } /* '' */
.icon-datadog:before { content: '\e8de'; } /* '' */
.icon-datadog-alt:before { content: '\e8df'; } /* '' */
.icon-datagrip:before { content: '\e8e0'; } /* '' */
.icon-datagrip-alt:before { content: '\e8e1'; } /* '' */
.icon-debian:before { content: '\e8e2'; } /* '' */
.icon-directadmin:before { content: '\e8e3'; } /* '' */
.icon-directadmin-alt:before { content: '\e8e4'; } /* '' */
.icon-disk:before { content: '\e8e5'; } /* '' */
.icon-django:before { content: '\e8e6'; } /* '' */
.icon-docker:before { content: '\e8e7'; } /* '' */
.icon-doctrine:before { content: '\e8e8'; } /* '' */
.icon-dojo:before { content: '\e8e9'; } /* '' */
.icon-dotcover:before { content: '\e8ea'; } /* '' */
.icon-dotcover-alt:before { content: '\e8eb'; } /* '' */
.icon-dotmemory:before { content: '\e8ec'; } /* '' */
.icon-dotmemory-alt:before { content: '\e8ed'; } /* '' */
.icon-dotpeek:before { content: '\e8ee'; } /* '' */
.icon-dotpeek-alt:before { content: '\e8ef'; } /* '' */
.icon-dottrace:before { content: '\e8f0'; } /* '' */
.icon-dottrace-alt:before { content: '\e8f1'; } /* '' */
.icon-drawio:before { content: '\e8f2'; } /* '' */
.icon-dropbox:before { content: '\e8f3'; } /* '' */
.icon-dropbox-alt:before { content: '\e8f4'; } /* '' */
.icon-drupal:before { content: '\e8f5'; } /* '' */
.icon-duckduckgo:before { content: '\e8f6'; } /* '' */
.icon-dynamics-ax:before { content: '\e8f7'; } /* '' */
.icon-dynatrace:before { content: '\e8f8'; } /* '' */
.icon-eclipse:before { content: '\e8f9'; } /* '' */
.icon-edge:before { content: '\e8fa'; } /* '' */
.icon-edx:before { content: '\e8fb'; } /* '' */
.icon-elastic-search:before { content: '\e8fc'; } /* '' */
.icon-electronic-board:before { content: '\e8fd'; } /* '' */
.icon-elixir:before { content: '\e8fe'; } /* '' */
.icon-elm:before { content: '\e8ff'; } /* '' */
.icon-ember:before { content: '\e900'; } /* '' */
.icon-enos:before { content: '\e901'; } /* '' */
.icon-enos-alt:before { content: '\e902'; } /* '' */
.icon-erlang:before { content: '\e903'; } /* '' */
.icon-evento:before { content: '\e904'; } /* '' */
.icon-evento-alt:before { content: '\e905'; } /* '' */
.icon-excel:before { content: '\e906'; } /* '' */
.icon-expo:before { content: '\e907'; } /* '' */
.icon-express:before { content: '\e908'; } /* '' */
.icon-facebook-api:before { content: '\e909'; } /* '' */
.icon-factorio:before { content: '\e90a'; } /* '' */
.icon-fedora:before { content: '\e90b'; } /* '' */
.icon-fedora-alt:before { content: '\e90c'; } /* '' */
.icon-filezilla:before { content: '\e90d'; } /* '' */
.icon-findanumbrella:before { content: '\e90e'; } /* '' */
.icon-firebase:before { content: '\e90f'; } /* '' */
.icon-fireeye:before { content: '\e910'; } /* '' */
.icon-firefox:before { content: '\e911'; } /* '' */
.icon-flask:before { content: '\e912'; } /* '' */
.icon-flight:before { content: '\e913'; } /* '' */
.icon-flux:before { content: '\e914'; } /* '' */
.icon-foundation:before { content: '\e915'; } /* '' */
.icon-fsharp:before { content: '\e916'; } /* '' */
.icon-gamemaker:before { content: '\e917'; } /* '' */
.icon-gcp-appengine:before { content: '\e918'; } /* '' */
.icon-gcp-appengine-alt:before { content: '\e919'; } /* '' */
.icon-gcp-bigquery:before { content: '\e91a'; } /* '' */
.icon-gcp-bigquery-alt:before { content: '\e91b'; } /* '' */
.icon-gcp-bigtable:before { content: '\e91c'; } /* '' */
.icon-gcp-bigtable-alt:before { content: '\e91d'; } /* '' */
.icon-gcp-container:before { content: '\e91e'; } /* '' */
.icon-gcp-container-alt:before { content: '\e91f'; } /* '' */
.icon-gcp-spanner:before { content: '\e920'; } /* '' */
.icon-gcp-spanner-alt:before { content: '\e921'; } /* '' */
.icon-git:before { content: '\e922'; } /* '' */
.icon-github:before { content: '\e923'; } /* '' */
.icon-gitlab:before { content: '\e924'; } /* '' */
.icon-glowbl:before { content: '\e925'; } /* '' */
.icon-glowbl-alt:before { content: '\e926'; } /* '' */
.icon-gluon:before { content: '\e927'; } /* '' */
.icon-gmail:before { content: '\e928'; } /* '' */
.icon-gnome:before { content: '\e929'; } /* '' */
.icon-go:before { content: '\e92a'; } /* '' */
.icon-goland:before { content: '\e92b'; } /* '' */
.icon-goland-alt:before { content: '\e92c'; } /* '' */
.icon-google:before { content: '\e92d'; } /* '' */
.icon-google-adsense:before { content: '\e92e'; } /* '' */
.icon-google-analytics:before { content: '\e92f'; } /* '' */
.icon-google-cloud:before { content: '\e930'; } /* '' */
.icon-google-docs:before { content: '\e931'; } /* '' */
.icon-google-draw:before { content: '\e932'; } /* '' */
.icon-google-drive:before { content: '\e933'; } /* '' */
.icon-google-forms:before { content: '\e934'; } /* '' */
.icon-google-maps:before { content: '\e935'; } /* '' */
.icon-google-mymaps:before { content: '\e936'; } /* '' */
.icon-google-sheets:before { content: '\e937'; } /* '' */
.icon-google-sites:before { content: '\e938'; } /* '' */
.icon-google-slides:before { content: '\e939'; } /* '' */
.icon-gradle:before { content: '\e93a'; } /* '' */
.icon-gradle-alt:before { content: '\e93b'; } /* '' */
.icon-graphic-card:before { content: '\e93c'; } /* '' */
.icon-graphql:before { content: '\e93d'; } /* '' */
.icon-groovy:before { content: '\e93e'; } /* '' */
.icon-grpc:before { content: '\e93f'; } /* '' */
.icon-grunt:before { content: '\e940'; } /* '' */
.icon-gulp:before { content: '\e941'; } /* '' */
.icon-guon:before { content: '\e942'; } /* '' */
.icon-gwt:before { content: '\e943'; } /* '' */
.icon-hadoop:before { content: '\e944'; } /* '' */
.icon-handlebars:before { content: '\e945'; } /* '' */
.icon-harvard:before { content: '\e946'; } /* '' */
.icon-harvard-alt:before { content: '\e947'; } /* '' */
.icon-haskell:before { content: '\e948'; } /* '' */
.icon-hbase:before { content: '\e949'; } /* '' */
.icon-hbase-alt:before { content: '\e94a'; } /* '' */
.icon-heroku:before { content: '\e94b'; } /* '' */
.icon-hfsql:before { content: '\e94c'; } /* '' */
.icon-hfsql-alt:before { content: '\e94d'; } /* '' */
.icon-hibernate:before { content: '\e94e'; } /* '' */
.icon-hive:before { content: '\e94f'; } /* '' */
.icon-hive-alt:before { content: '\e950'; } /* '' */
.icon-html:before { content: '\e951'; } /* '' */
.icon-hub:before { content: '\e952'; } /* '' */
.icon-hub-alt:before { content: '\e953'; } /* '' */
.icon-hypersql:before { content: '\e954'; } /* '' */
.icon-ibm:before { content: '\e955'; } /* '' */
.icon-ibm-watson:before { content: '\e956'; } /* '' */
.icon-ibm-watson-alt:before { content: '\e957'; } /* '' */
.icon-ideomed:before { content: '\e958'; } /* '' */
.icon-ifs:before { content: '\e959'; } /* '' */
.icon-illustrator:before { content: '\e95a'; } /* '' */
.icon-indesign:before { content: '\e95b'; } /* '' */
.icon-initializr:before { content: '\e95c'; } /* '' */
.icon-inkscape:before { content: '\e95d'; } /* '' */
.icon-intellij:before { content: '\e95e'; } /* '' */
.icon-intellij-alt:before { content: '\e95f'; } /* '' */
.icon-internet-explorer:before { content: '\e960'; } /* '' */
.icon-intitek:before { content: '\e961'; } /* '' */
.icon-ionic:before { content: '\e962'; } /* '' */
.icon-ispconfig:before { content: '\e963'; } /* '' */
.icon-ispconfig-alt:before { content: '\e964'; } /* '' */
.icon-iunex:before { content: '\e965'; } /* '' */
.icon-jasmine:before { content: '\e966'; } /* '' */
.icon-java:before { content: '\e967'; } /* '' */
.icon-javafx:before { content: '\e968'; } /* '' */
.icon-javafx-alt:before { content: '\e969'; } /* '' */
.icon-javascript:before { content: '\e96a'; } /* '' */
.icon-jboss:before { content: '\e96b'; } /* '' */
.icon-jboss-alt:before { content: '\e96c'; } /* '' */
.icon-jboss-tools:before { content: '\e96d'; } /* '' */
.icon-jenkins:before { content: '\e96e'; } /* '' */
.icon-jetbrains:before { content: '\e96f'; } /* '' */
.icon-jetbrains-alt:before { content: '\e970'; } /* '' */
.icon-jigoshop:before { content: '\e971'; } /* '' */
.icon-jira:before { content: '\e972'; } /* '' */
.icon-joomla:before { content: '\e973'; } /* '' */
.icon-jpa:before { content: '\e974'; } /* '' */
.icon-jquery:before { content: '\e975'; } /* '' */
.icon-jquery-ui:before { content: '\e976'; } /* '' */
.icon-jquery-ui-alt:before { content: '\e977'; } /* '' */
.icon-jscs:before { content: '\e978'; } /* '' */
.icon-json:before { content: '\e979'; } /* '' */
.icon-jsonimate:before { content: '\e97a'; } /* '' */
.icon-junit:before { content: '\e97b'; } /* '' */
.icon-kafka:before { content: '\e97c'; } /* '' */
.icon-kanboard:before { content: '\e97d'; } /* '' */
.icon-kde:before { content: '\e97e'; } /* '' */
.icon-kendo-ui:before { content: '\e97f'; } /* '' */
.icon-keras:before { content: '\e980'; } /* '' */
.icon-keyboard:before { content: '\e981'; } /* '' */
.icon-knockback:before { content: '\e982'; } /* '' */
.icon-knockout:before { content: '\e983'; } /* '' */
.icon-kotlin:before { content: '\e984'; } /* '' */
.icon-kubernates:before { content: '\e985'; } /* '' */
.icon-kubuntu:before { content: '\e986'; } /* '' */
.icon-kubuntu-alt:before { content: '\e987'; } /* '' */
.icon-lamp:before { content: '\e988'; } /* '' */
.icon-laravel:before { content: '\e989'; } /* '' */
.icon-latex:before { content: '\e98a'; } /* '' */
.icon-launchpad:before { content: '\e98b'; } /* '' */
.icon-leaflet:before { content: '\e98c'; } /* '' */
.icon-less:before { content: '\e98d'; } /* '' */
.icon-less-alt:before { content: '\e98e'; } /* '' */
.icon-lets-encrypt:before { content: '\e98f'; } /* '' */
.icon-lightroom:before { content: '\e990'; } /* '' */
.icon-linux-mint:before { content: '\e991'; } /* '' */
.icon-lisp:before { content: '\e992'; } /* '' */
.icon-livementor:before { content: '\e993'; } /* '' */
.icon-livecycle:before { content: '\e994'; } /* '' */
.icon-lodash:before { content: '\e995'; } /* '' */
.icon-loggy:before { content: '\e996'; } /* '' */
.icon-logrhythm:before { content: '\e997'; } /* '' */
.icon-logrhythm-alt:before { content: '\e998'; } /* '' */
.icon-lona:before { content: '\e999'; } /* '' */
.icon-loopback:before { content: '\e99a'; } /* '' */
.icon-lua:before { content: '\e99b'; } /* '' */
.icon-lua-alt:before { content: '\e99c'; } /* '' */
.icon-luminoth:before { content: '\e99d'; } /* '' */
.icon-lyceesjeanmonnet:before { content: '\e99e'; } /* '' */
.icon-lyon1:before { content: '\e99f'; } /* '' */
.icon-mac-os:before { content: '\e9a0'; } /* '' */
.icon-mac-os-alt:before { content: '\e9a1'; } /* '' */
.icon-magento:before { content: '\e9a2'; } /* '' */
.icon-maincare:before { content: '\e9a3'; } /* '' */
.icon-maincare-alt:before { content: '\e9a4'; } /* '' */
.icon-majestic:before { content: '\e9a5'; } /* '' */
.icon-makefile:before { content: '\e9a6'; } /* '' */
.icon-mamp:before { content: '\e9a7'; } /* '' */
.icon-mamp-alt:before { content: '\e9a8'; } /* '' */
.icon-mariadb:before { content: '\e9a9'; } /* '' */
.icon-marionette:before { content: '\e9aa'; } /* '' */
.icon-markdown:before { content: '\e9ab'; } /* '' */
.icon-markdown-alt:before { content: '\e9ac'; } /* '' */
.icon-materialize:before { content: '\e9ad'; } /* '' */
.icon-maven:before { content: '\e9ae'; } /* '' */
.icon-mdbootstrap:before { content: '\e9af'; } /* '' */
.icon-mdn:before { content: '\e9b0'; } /* '' */
.icon-mdn-alt:before { content: '\e9b1'; } /* '' */
.icon-mega:before { content: '\e9b2'; } /* '' */
.icon-mega-alt:before { content: '\e9b3'; } /* '' */
.icon-meteor:before { content: '\e9b4'; } /* '' */
.icon-microsoft:before { content: '\e9b5'; } /* '' */
.icon-mithril:before { content: '\e9b6'; } /* '' */
.icon-modernizr:before { content: '\e9b7'; } /* '' */
.icon-mongodb:before { content: '\e9b8'; } /* '' */
.icon-mongoose:before { content: '\e9b9'; } /* '' */
.icon-mosquitto:before { content: '\e9ba'; } /* '' */
.icon-mouse:before { content: '\e9bb'; } /* '' */
.icon-mps:before { content: '\e9bc'; } /* '' */
.icon-mva:before { content: '\e9bd'; } /* '' */
.icon-mva-alt:before { content: '\e9be'; } /* '' */
.icon-myachievements:before { content: '\e9bf'; } /* '' */
.icon-mylandlordclub:before { content: '\e9c0'; } /* '' */
.icon-mysql:before { content: '\e9c1'; } /* '' */
.icon-nativescript:before { content: '\e9c2'; } /* '' */
.icon-nativescript-alt:before { content: '\e9c3'; } /* '' */
.icon-neo4j:before { content: '\e9c4'; } /* '' */
.icon-neo4j-alt:before { content: '\e9c5'; } /* '' */
.icon-neogfx:before { content: '\e9c6'; } /* '' */
.icon-neos:before { content: '\e9c7'; } /* '' */
.icon-net:before { content: '\e9c8'; } /* '' */
.icon-newrelic:before { content: '\e9c9'; } /* '' */
.icon-newrelic-alt:before { content: '\e9ca'; } /* '' */
.icon-nginx:before { content: '\e9cb'; } /* '' */
.icon-nginx-alt:before { content: '\e9cc'; } /* '' */
.icon-nodejs:before { content: '\e9cd'; } /* '' */
.icon-notepadpp:before { content: '\e9ce'; } /* '' */
.icon-notepadpp-alt:before { content: '\e9cf'; } /* '' */
.icon-npm:before { content: '\e9d0'; } /* '' */
.icon-numpy:before { content: '\e9d1'; } /* '' */
.icon-ocaml:before { content: '\e9d2'; } /* '' */
.icon-odoo:before { content: '\e9d3'; } /* '' */
.icon-office:before { content: '\e9d4'; } /* '' */
.icon-office-alt:before { content: '\e9d5'; } /* '' */
.icon-ogre:before { content: '\e9d6'; } /* '' */
.icon-ogre-alt:before { content: '\e9d7'; } /* '' */
.icon-onedrive:before { content: '\e9d8'; } /* '' */
.icon-onedrive-alt:before { content: '\e9d9'; } /* '' */
.icon-onenote:before { content: '\e9da'; } /* '' */
.icon-opencart:before { content: '\e9db'; } /* '' */
.icon-opencart-alt:before { content: '\e9dc'; } /* '' */
.icon-openclassroom:before { content: '\e9dd'; } /* '' */
.icon-openclassroom-alt:before { content: '\e9de'; } /* '' */
.icon-opencv:before { content: '\e9df'; } /* '' */
.icon-opengl:before { content: '\e9e0'; } /* '' */
.icon-openshift:before { content: '\e9e1'; } /* '' */
.icon-openstack:before { content: '\e9e2'; } /* '' */
.icon-openvpn:before { content: '\e9e3'; } /* '' */
.icon-openvpn-alt:before { content: '\e9e4'; } /* '' */
.icon-opera:before { content: '\e9e5'; } /* '' */
.icon-oracle:before { content: '\e9e6'; } /* '' */
.icon-oracle-alt:before { content: '\e9e7'; } /* '' */
.icon-outlook:before { content: '\e9e8'; } /* '' */
.icon-ovh:before { content: '\e9e9'; } /* '' */
.icon-p5js:before { content: '\e9ea'; } /* '' */
.icon-p5js-alt:before { content: '\e9eb'; } /* '' */
.icon-parallels:before { content: '\e9ec'; } /* '' */
.icon-paypal:before { content: '\e9ed'; } /* '' */
.icon-pdt:before { content: '\e9ee'; } /* '' */
.icon-pegasus:before { content: '\e9ef'; } /* '' */
.icon-perl:before { content: '\e9f0'; } /* '' */
.icon-phone:before { content: '\e9f1'; } /* '' */
.icon-mailchimp:before { content: '\e9f2'; } /* '' */
.icon-phonegap:before { content: '\e9f3'; } /* '' */
.icon-mapreduce:before { content: '\e9f4'; } /* '' */
.icon-netbeans:before { content: '\e9f5'; } /* '' */
.icon-photoshop:before { content: '\e9f6'; } /* '' */
.icon-photoview:before { content: '\e9f7'; } /* '' */
.icon-php:before { content: '\e9f8'; } /* '' */
.icon-phpmyadmin:before { content: '\e9f9'; } /* '' */
.icon-phpmyadmin-alt:before { content: '\e9fa'; } /* '' */
.icon-phpstorm:before { content: '\e9fb'; } /* '' */
.icon-phpstorm-alt:before { content: '\e9fc'; } /* '' */
.icon-playstore:before { content: '\e9fd'; } /* '' */
.icon-plesk:before { content: '\e9fe'; } /* '' */
.icon-pluralsight:before { content: '\e9ff'; } /* '' */
.icon-polyenco:before { content: '\ea00'; } /* '' */
.icon-polyfill:before { content: '\ea01'; } /* '' */
.icon-polymer:before { content: '\ea02'; } /* '' */
.icon-polytech:before { content: '\ea03'; } /* '' */
.icon-postcss:before { content: '\ea04'; } /* '' */
.icon-postgre:before { content: '\ea05'; } /* '' */
.icon-powerpoint:before { content: '\ea06'; } /* '' */
.icon-powershell:before { content: '\ea07'; } /* '' */
.icon-powersupply:before { content: '\ea08'; } /* '' */
.icon-prestashop:before { content: '\ea09'; } /* '' */
.icon-prezi:before { content: '\ea0a'; } /* '' */
.icon-processor:before { content: '\ea0b'; } /* '' */
.icon-publisher:before { content: '\ea0c'; } /* '' */
.icon-pug:before { content: '\ea0d'; } /* '' */
.icon-puppet:before { content: '\ea0e'; } /* '' */
.icon-pure-css:before { content: '\ea0f'; } /* '' */
.icon-pure-css-alt:before { content: '\ea10'; } /* '' */
.icon-putty:before { content: '\ea11'; } /* '' */
.icon-puttygen:before { content: '\ea12'; } /* '' */
.icon-pycharm:before { content: '\ea13'; } /* '' */
.icon-pycharm-alt:before { content: '\ea14'; } /* '' */
.icon-python:before { content: '\ea15'; } /* '' */
.icon-qemu:before { content: '\ea16'; } /* '' */
.icon-qemu-alt:before { content: '\ea17'; } /* '' */
.icon-qlik:before { content: '\ea18'; } /* '' */
.icon-qliksense:before { content: '\ea19'; } /* '' */
.icon-qlikview:before { content: '\ea1a'; } /* '' */
.icon-qt:before { content: '\ea1b'; } /* '' */
.icon-qt-alt:before { content: '\ea1c'; } /* '' */
.icon-qualys:before { content: '\ea1d'; } /* '' */
.icon-qwant:before { content: '\ea1e'; } /* '' */
.icon-qwiklabs:before { content: '\ea1f'; } /* '' */
.icon-qwiklabs-alt:before { content: '\ea20'; } /* '' */
.icon-r:before { content: '\ea21'; } /* '' */
.icon-rabbitmq:before { content: '\ea22'; } /* '' */
.icon-ram:before { content: '\ea23'; } /* '' */
.icon-raspberry:before { content: '\ea24'; } /* '' */
.icon-react:before { content: '\ea25'; } /* '' */
.icon-redhat:before { content: '\ea26'; } /* '' */
.icon-redis:before { content: '\ea27'; } /* '' */
.icon-redux:before { content: '\ea28'; } /* '' */
.icon-require:before { content: '\ea29'; } /* '' */
.icon-resharper:before { content: '\ea2a'; } /* '' */
.icon-resharper-alt:before { content: '\ea2b'; } /* '' */
.icon-resharperpp:before { content: '\ea2c'; } /* '' */
.icon-resharperpp-alt:before { content: '\ea2d'; } /* '' */
.icon-responsive:before { content: '\ea2e'; } /* '' */
.icon-rest:before { content: '\ea2f'; } /* '' */
.icon-rethinkdb:before { content: '\ea30'; } /* '' */
.icon-rider:before { content: '\ea31'; } /* '' */
.icon-rider-alt:before { content: '\ea32'; } /* '' */
.icon-rjo:before { content: '\ea33'; } /* '' */
.icon-rjo-alt:before { content: '\ea34'; } /* '' */
.icon-ruby:before { content: '\ea35'; } /* '' */
.icon-rubymine:before { content: '\ea36'; } /* '' */
.icon-rubymine-alt:before { content: '\ea37'; } /* '' */
.icon-rubyonrails:before { content: '\ea38'; } /* '' */
.icon-rust:before { content: '\ea39'; } /* '' */
.icon-safari:before { content: '\ea3a'; } /* '' */
.icon-sage:before { content: '\ea3b'; } /* '' */
.icon-salesforce:before { content: '\ea3c'; } /* '' */
.icon-samba:before { content: '\ea3d'; } /* '' */
.icon-samba-alt:before { content: '\ea3e'; } /* '' */
.icon-sap:before { content: '\ea3f'; } /* '' */
.icon-sap-alt:before { content: '\ea40'; } /* '' */
.icon-sas:before { content: '\ea41'; } /* '' */
.icon-sass:before { content: '\ea42'; } /* '' */
.icon-scala:before { content: '\ea43'; } /* '' */
.icon-scratch:before { content: '\ea44'; } /* '' */
.icon-screen:before { content: '\ea45'; } /* '' */
.icon-sdl:before { content: '\ea46'; } /* '' */
.icon-semantic-ui:before { content: '\ea47'; } /* '' */
.icon-server:before { content: '\ea48'; } /* '' */
.icon-servicenow:before { content: '\ea49'; } /* '' */
.icon-sfml:before { content: '\ea4a'; } /* '' */
.icon-sharepoint:before { content: '\ea4b'; } /* '' */
.icon-shopify:before { content: '\ea4c'; } /* '' */
.icon-shopware:before { content: '\ea4d'; } /* '' */
.icon-silex:before { content: '\ea4e'; } /* '' */
.icon-skillmatrix:before { content: '\ea4f'; } /* '' */
.icon-skillmatrix-alt:before { content: '\ea50'; } /* '' */
.icon-skillvalue:before { content: '\ea51'; } /* '' */
.icon-skype:before { content: '\ea52'; } /* '' */
.icon-slack:before { content: '\ea53'; } /* '' */
.icon-snapsvg:before { content: '\ea54'; } /* '' */
.icon-socialmediapro:before { content: '\ea55'; } /* '' */
.icon-socialmediapro-alt:before { content: '\ea56'; } /* '' */
.icon-prezi-alt:before { content: '\ea57'; } /* '' */
.icon-sogelink:before { content: '\ea58'; } /* '' */
.icon-sogelink-alt:before { content: '\ea59'; } /* '' */
.icon-solaris:before { content: '\ea5a'; } /* '' */
.icon-solarwinds:before { content: '\ea5b'; } /* '' */
.icon-solidworks:before { content: '\ea5c'; } /* '' */
.icon-sonar:before { content: '\ea5d'; } /* '' */
.icon-sonar-alt:before { content: '\ea5e'; } /* '' */
.icon-spark:before { content: '\ea5f'; } /* '' */
.icon-spark-alt:before { content: '\ea60'; } /* '' */
.icon-splunk:before { content: '\ea61'; } /* '' */
.icon-sqoop:before { content: '\ea62'; } /* '' */
.icon-sqoop-alt:before { content: '\ea63'; } /* '' */
.icon-spring:before { content: '\ea64'; } /* '' */
.icon-sqldeveloper:before { content: '\ea65'; } /* '' */
.icon-sql-server:before { content: '\ea66'; } /* '' */
.icon-sqlworkbench:before { content: '\ea67'; } /* '' */
.icon-squid:before { content: '\ea68'; } /* '' */
.icon-stackoverflow:before { content: '\ea69'; } /* '' */
.icon-studies:before { content: '\ea6a'; } /* '' */
.icon-sublime-text:before { content: '\ea6b'; } /* '' */
.icon-subversive:before { content: '\ea6c'; } /* '' */
.icon-subversive-alt:before { content: '\ea6d'; } /* '' */
.icon-sumologic:before { content: '\ea6e'; } /* '' */
.icon-swift:before { content: '\ea6f'; } /* '' */
.icon-symfony:before { content: '\ea70'; } /* '' */
.icon-symfony-alt:before { content: '\ea71'; } /* '' */
.icon-syspro:before { content: '\ea72'; } /* '' */
.icon-systemd:before { content: '\ea73'; } /* '' */
.icon-tableau:before { content: '\ea74'; } /* '' */
.icon-tableau-alt:before { content: '\ea75'; } /* '' */
.icon-talend:before { content: '\ea76'; } /* '' */
.icon-talend-alt:before { content: '\ea77'; } /* '' */
.icon-teamcity:before { content: '\ea78'; } /* '' */
.icon-teamcity-alt:before { content: '\ea79'; } /* '' */
.icon-teams:before { content: '\ea7a'; } /* '' */
.icon-teamviewer:before { content: '\ea7b'; } /* '' */
.icon-telegram:before { content: '\ea7c'; } /* '' */
.icon-tensorflow:before { content: '\ea7d'; } /* '' */
.icon-testflight:before { content: '\ea7e'; } /* '' */
.icon-three:before { content: '\ea7f'; } /* '' */
.icon-tomcat:before { content: '\ea80'; } /* '' */
.icon-tortoise:before { content: '\ea81'; } /* '' */
.icon-travis:before { content: '\ea82'; } /* '' */
.icon-trello:before { content: '\ea83'; } /* '' */
.icon-troop:before { content: '\ea84'; } /* '' */
.icon-twig:before { content: '\ea85'; } /* '' */
.icon-typescript:before { content: '\ea86'; } /* '' */
.icon-ubuntu:before { content: '\ea87'; } /* '' */
.icon-udacity:before { content: '\ea88'; } /* '' */
.icon-udemy:before { content: '\ea89'; } /* '' */
.icon-uikit:before { content: '\ea8a'; } /* '' */
.icon-underscore:before { content: '\ea8b'; } /* '' */
.icon-underscore-alt:before { content: '\ea8c'; } /* '' */
.icon-unity:before { content: '\ea8d'; } /* '' */
.icon-universitelyon:before { content: '\ea8e'; } /* '' */
.icon-unix:before { content: '\ea8f'; } /* '' */
.icon-unreal:before { content: '\ea90'; } /* '' */
.icon-upsource:before { content: '\ea91'; } /* '' */
.icon-upsource-alt:before { content: '\ea92'; } /* '' */
.icon-vagrant:before { content: '\ea93'; } /* '' */
.icon-vdsconsulting:before { content: '\ea94'; } /* '' */
.icon-vdsconsulting-alt:before { content: '\ea95'; } /* '' */
.icon-velov:before { content: '\ea96'; } /* '' */
.icon-velov-alt:before { content: '\ea97'; } /* '' */
.icon-vemasys:before { content: '\ea98'; } /* '' */
.icon-vemasys-alt:before { content: '\ea99'; } /* '' */
.icon-vim:before { content: '\ea9a'; } /* '' */
.icon-vim-alt:before { content: '\ea9b'; } /* '' */
.icon-visio:before { content: '\ea9c'; } /* '' */
.icon-visual-basic:before { content: '\ea9d'; } /* '' */
.icon-visual-studio:before { content: '\ea9e'; } /* '' */
.icon-vmware:before { content: '\ea9f'; } /* '' */
.icon-vmware-fusion:before { content: '\eaa0'; } /* '' */
.icon-vmware-player:before { content: '\eaa1'; } /* '' */
.icon-vmware-workstation:before { content: '\eaa2'; } /* '' */
.icon-vnc:before { content: '\eaa3'; } /* '' */
.icon-vscode:before { content: '\eaa4'; } /* '' */
.icon-vuejs:before { content: '\eaa5'; } /* '' */
.icon-w3c:before { content: '\eaa6'; } /* '' */
.icon-wamp:before { content: '\eaa7'; } /* '' */
.icon-webgl:before { content: '\eaa8'; } /* '' */
.icon-webmin:before { content: '\eaa9'; } /* '' */
.icon-webmin-alt:before { content: '\eaaa'; } /* '' */
.icon-webpack:before { content: '\eaab'; } /* '' */
.icon-webstorm:before { content: '\eaac'; } /* '' */
.icon-webstorm-alt:before { content: '\eaad'; } /* '' */
.icon-wifi:before { content: '\eaae'; } /* '' */
.icon-wildfly:before { content: '\eaaf'; } /* '' */
.icon-windev:before { content: '\eab0'; } /* '' */
.icon-windev-alt:before { content: '\eab1'; } /* '' */
.icon-windows:before { content: '\eab2'; } /* '' */
.icon-windows7:before { content: '\eab3'; } /* '' */
.icon-windows8:before { content: '\eab4'; } /* '' */
.icon-winscp:before { content: '\eab5'; } /* '' */
.icon-wireshark:before { content: '\eab6'; } /* '' */
.icon-woocommerce:before { content: '\eab7'; } /* '' */
.icon-woocommerce-alt:before { content: '\eab8'; } /* '' */
.icon-word:before { content: '\eab9'; } /* '' */
.icon-wordpress:before { content: '\eaba'; } /* '' */
.icon-xamarin:before { content: '\eabb'; } /* '' */
.icon-xamarin-alt:before { content: '\eabc'; } /* '' */
.icon-virtualmin:before { content: '\eabd'; } /* '' */
.icon-xampp:before { content: '\eabe'; } /* '' */
.icon-xmind:before { content: '\eabf'; } /* '' */
.icon-yahoo:before { content: '\eac0'; } /* '' */
.icon-yahoo-alt:before { content: '\eac1'; } /* '' */
.icon-yaml:before { content: '\eac2'; } /* '' */
.icon-yarn:before { content: '\eac3'; } /* '' */
.icon-yarn-alt:before { content: '\eac4'; } /* '' */
.icon-youtrack:before { content: '\eac5'; } /* '' */
.icon-youtrack-alt:before { content: '\eac6'; } /* '' */
.icon-zend:before { content: '\eac7'; } /* '' */
.icon-zepto:before { content: '\eac8'; } /* '' */
.icon-zimbra:before { content: '\eac9'; } /* '' */
.icon-zimbra-alt:before { content: '\eaca'; } /* '' */
.icon-zingchart:before { content: '\eacb'; } /* '' */
.icon-zingchart-alt:before { content: '\eacc'; } /* '' */
.icon-abas:before { content: '\eacd'; } /* '' */
.icon-access:before { content: '\eace'; } /* '' */
.icon-adobe:before { content: '\eacf'; } /* '' */
.icon-aerosafety:before { content: '\ead0'; } /* '' */
.icon-aftereffects:before { content: '\ead1'; } /* '' */
.icon-xcode:before { content: '\ead2'; } /* '' */