
.icon-apple:before { content: '\e800'; } /* '' */
.icon-asp:before { content: '\e801'; } /* '' */
.icon-atom:before { content: '\e802'; } /* '' */
.icon-aurelia:before { content: '\e803'; } /* '' */
.icon-aws:before { content: '\e804'; } /* '' */
.icon-azure:before { content: '\e805'; } /* '' */
.icon-babylon:before { content: '\e806'; } /* '' */
.icon-backbone:before { content: '\e807'; } /* '' */
.icon-bluetooth:before { content: '\e808'; } /* '' */
.icon-bootstrap:before { content: '\e809'; } /* '' */
.icon-bower:before { content: '\e80a'; } /* '' */
.icon-c:before { content: '\e80b'; } /* '' */
.icon-cassandra:before { content: '\e80c'; } /* '' */
.icon-cd:before { content: '\e80d'; } /* '' */
.icon-centos:before { content: '\e80e'; } /* '' */
.icon-certbot:before { content: '\e80f'; } /* '' */
.icon-chip:before { content: '\e810'; } /* '' */
.icon-chrome:before { content: '\e811'; } /* '' */
.icon-clojure:before { content: '\e812'; } /* '' */
.icon-cobol:before { content: '\e813'; } /* '' */
.icon-code:before { content: '\e814'; } /* '' */
.icon-codeigniter:before { content: '\e815'; } /* '' */
.icon-codewriter:before { content: '\e816'; } /* '' */
.icon-coffeescript:before { content: '\e817'; } /* '' */
.icon-composer:before { content: '\e818'; } /* '' */
.icon-computer:before { content: '\e819'; } /* '' */
.icon-cpp:before { content: '\e81a'; } /* '' */
.icon-csharp:before { content: '\e81b'; } /* '' */
.icon-css:before { content: '\e81c'; } /* '' */
.icon-curl:before { content: '\e81d'; } /* '' */
.icon-d3:before { content: '\e81e'; } /* '' */
.icon-database:before { content: '\e81f'; } /* '' */
.icon-debian:before { content: '\e820'; } /* '' */
.icon-disk:before { content: '\e821'; } /* '' */
.icon-django:before { content: '\e822'; } /* '' */
.icon-docker:before { content: '\e823'; } /* '' */
.icon-dojo:before { content: '\e824'; } /* '' */
.icon-eclipse:before { content: '\e825'; } /* '' */
.icon-edge:before { content: '\e826'; } /* '' */
.icon-elasticsearch:before { content: '\e827'; } /* '' */
.icon-electronicboard:before { content: '\e828'; } /* '' */
.icon-elixir:before { content: '\e829'; } /* '' */
.icon-ember:before { content: '\e82a'; } /* '' */
.icon-erlang:before { content: '\e82b'; } /* '' */
.icon-express:before { content: '\e82c'; } /* '' */
.icon-facebookapi:before { content: '\e82d'; } /* '' */
.icon-fedora:before { content: '\e82e'; } /* '' */
.icon-firebase:before { content: '\e82f'; } /* '' */
.icon-firefox:before { content: '\e830'; } /* '' */
.icon-flask:before { content: '\e831'; } /* '' */
.icon-flux:before { content: '\e832'; } /* '' */
.icon-foundation:before { content: '\e833'; } /* '' */
.icon-git:before { content: '\e834'; } /* '' */
.icon-github:before { content: '\e835'; } /* '' */
.icon-gitlab:before { content: '\e836'; } /* '' */
.icon-gnome:before { content: '\e837'; } /* '' */
.icon-go:before { content: '\e838'; } /* '' */
.icon-googleanalytics:before { content: '\e839'; } /* '' */
.icon-googlecloud:before { content: '\e83a'; } /* '' */
.icon-googlemaps:before { content: '\e83b'; } /* '' */
.icon-gradle:before { content: '\e83c'; } /* '' */
.icon-graphiccard:before { content: '\e83d'; } /* '' */
.icon-grunt:before { content: '\e83e'; } /* '' */
.icon-gulp:before { content: '\e83f'; } /* '' */
.icon-hadoop:before { content: '\e840'; } /* '' */
.icon-handlebars:before { content: '\e841'; } /* '' */
.icon-haskell:before { content: '\e842'; } /* '' */
.icon-heroku:before { content: '\e843'; } /* '' */
.icon-hfsql:before { content: '\e844'; } /* '' */
.icon-hibernate:before { content: '\e845'; } /* '' */
.icon-html:before { content: '\e846'; } /* '' */
.icon-hypersql:before { content: '\e847'; } /* '' */
.icon-initializr:before { content: '\e848'; } /* '' */
.icon-intellij:before { content: '\e849'; } /* '' */
.icon-internetexplorer:before { content: '\e84a'; } /* '' */
.icon-ionic:before { content: '\e84b'; } /* '' */
.icon-jasmine:before { content: '\e84c'; } /* '' */
.icon-java:before { content: '\e84d'; } /* '' */
.icon-javafx:before { content: '\e84e'; } /* '' */
.icon-javascript:before { content: '\e84f'; } /* '' */
.icon-jboss:before { content: '\e850'; } /* '' */
.icon-jbosstools:before { content: '\e851'; } /* '' */
.icon-jenkins:before { content: '\e852'; } /* '' */
.icon-jpa:before { content: '\e853'; } /* '' */
.icon-jquery:before { content: '\e854'; } /* '' */
.icon-jscs:before { content: '\e855'; } /* '' */
.icon-json:before { content: '\e856'; } /* '' */
.icon-kde:before { content: '\e857'; } /* '' */
.icon-kendoui:before { content: '\e858'; } /* '' */
.icon-keyboard:before { content: '\e859'; } /* '' */
.icon-knockout:before { content: '\e85a'; } /* '' */
.icon-kotlin:before { content: '\e85b'; } /* '' */
.icon-kubernates:before { content: '\e85c'; } /* '' */
.icon-laravel:before { content: '\e85d'; } /* '' */
.icon-leaflet:before { content: '\e85e'; } /* '' */
.icon-less:before { content: '\e85f'; } /* '' */
.icon-letsencypt:before { content: '\e860'; } /* '' */
.icon-linuxmint:before { content: '\e861'; } /* '' */
.icon-livecycle:before { content: '\e862'; } /* '' */
.icon-macos:before { content: '\e863'; } /* '' */
.icon-magento:before { content: '\e864'; } /* '' */
.icon-mariadb:before { content: '\e865'; } /* '' */
.icon-materialize:before { content: '\e866'; } /* '' */
.icon-maven:before { content: '\e867'; } /* '' */
.icon-mdbootstrap:before { content: '\e868'; } /* '' */
.icon-meteor:before { content: '\e869'; } /* '' */
.icon-microsoft:before { content: '\e86a'; } /* '' */
.icon-mongodb:before { content: '\e86b'; } /* '' */
.icon-mouse:before { content: '\e86c'; } /* '' */
.icon-mysql:before { content: '\e86d'; } /* '' */
.icon-net:before { content: '\e86e'; } /* '' */
.icon-nginx:before { content: '\e86f'; } /* '' */
.icon-nodejs:before { content: '\e870'; } /* '' */
.icon-notepadpp:before { content: '\e871'; } /* '' */
.icon-npm:before { content: '\e872'; } /* '' */
.icon-numpy:before { content: '\e873'; } /* '' */
.icon-opera:before { content: '\e874'; } /* '' */
.icon-oracle:before { content: '\e875'; } /* '' */
.icon-ovh:before { content: '\e876'; } /* '' */
.icon-paypal:before { content: '\e877'; } /* '' */
.icon-perl:before { content: '\e878'; } /* '' */
.icon-phone:before { content: '\e879'; } /* '' */
.icon-phonegap:before { content: '\e87a'; } /* '' */
.icon-php:before { content: '\e87b'; } /* '' */
.icon-postgresql:before { content: '\e87c'; } /* '' */
.icon-powershell:before { content: '\e87d'; } /* '' */
.icon-powersupply:before { content: '\e87e'; } /* '' */
.icon-prestashop:before { content: '\e87f'; } /* '' */
.icon-processor:before { content: '\e880'; } /* '' */
.icon-pug:before { content: '\e881'; } /* '' */
.icon-purecss:before { content: '\e882'; } /* '' */
.icon-python:before { content: '\e883'; } /* '' */
.icon-qt:before { content: '\e884'; } /* '' */
.icon-r:before { content: '\e885'; } /* '' */
.icon-ram:before { content: '\e886'; } /* '' */
.icon-raspberrypi:before { content: '\e887'; } /* '' */
.icon-react:before { content: '\e888'; } /* '' */
.icon-redhat:before { content: '\e889'; } /* '' */
.icon-redis:before { content: '\e88a'; } /* '' */
.icon-redux:before { content: '\e88b'; } /* '' */
.icon-require:before { content: '\e88c'; } /* '' */
.icon-responsive:before { content: '\e88d'; } /* '' */
.icon-ruby:before { content: '\e88e'; } /* '' */
.icon-rubyonrails:before { content: '\e88f'; } /* '' */
.icon-rust:before { content: '\e890'; } /* '' */
.icon-safari:before { content: '\e891'; } /* '' */
.icon-sass:before { content: '\e892'; } /* '' */
.icon-scala:before { content: '\e893'; } /* '' */
.icon-screen:before { content: '\e894'; } /* '' */
.icon-semanticui:before { content: '\e895'; } /* '' */
.icon-server:before { content: '\e896'; } /* '' */
.icon-silex:before { content: '\e897'; } /* '' */
.icon-solaris:before { content: '\e898'; } /* '' */
.icon-sonar:before { content: '\e899'; } /* '' */
.icon-spark:before { content: '\e89a'; } /* '' */
.icon-spring:before { content: '\e89b'; } /* '' */
.icon-sqlserver:before { content: '\e89c'; } /* '' */
.icon-sublimetext:before { content: '\e89d'; } /* '' */
.icon-subversion:before { content: '\e89e'; } /* '' */
.icon-swift:before { content: '\e89f'; } /* '' */
.icon-symfony:before { content: '\e8a0'; } /* '' */
.icon-systemd:before { content: '\e8a1'; } /* '' */
.icon-tomcat:before { content: '\e8a2'; } /* '' */
.icon-tortoisesvn:before { content: '\e8a3'; } /* '' */
.icon-travis:before { content: '\e8a4'; } /* '' */
.icon-twig:before { content: '\e8a5'; } /* '' */
.icon-typescript:before { content: '\e8a6'; } /* '' */
.icon-ubuntu:before { content: '\e8a7'; } /* '' */
.icon-uikit:before { content: '\e8a8'; } /* '' */
.icon-underscorejs:before { content: '\e8a9'; } /* '' */
.icon-unity:before { content: '\e8aa'; } /* '' */
.icon-unix:before { content: '\e8ab'; } /* '' */
.icon-unreal:before { content: '\e8ac'; } /* '' */
.icon-vs:before { content: '\e8ad'; } /* '' */
.icon-vuejs:before { content: '\e8ae'; } /* '' */
.icon-wifi:before { content: '\e8af'; } /* '' */
.icon-wildfly:before { content: '\e8b0'; } /* '' */
.icon-windev:before { content: '\e8b1'; } /* '' */
.icon-windows:before { content: '\e8b2'; } /* '' */
.icon-wordpress:before { content: '\e8b3'; } /* '' */
.icon-xamarin:before { content: '\e8b4'; } /* '' */
.icon-yarn:before { content: '\e8b5'; } /* '' */
.icon-zend:before { content: '\e8b6'; } /* '' */
.icon-zepto:before { content: '\e8b7'; } /* '' */
.icon-ajax:before { content: '\e8b8'; } /* '' */
.icon-android:before { content: '\e8b9'; } /* '' */
.icon-androidstudio:before { content: '\e8ba'; } /* '' */
.icon-angular:before { content: '\e8bb'; } /* '' */
.icon-apache:before { content: '\e8bc'; } /* '' */
.icon-apacheant:before { content: '\e8bd'; } /* '' */
.icon-netbeans:before { content: '\e8be'; } /* '' */
.icon-xcode:before { content: '\e8bf'; } /* '' */