@font-face {
  font-family: 'fontello';
  src: url('../font/bc-font/fontello.eot?10998085');
  src: url('../font/bc-font/fontello.eot?10998085#iefix') format('embedded-opentype'),
       url('../font/bc-font/fontello.woff2?10998085') format('woff2'),
       url('../font/bc-font/fontello.woff?10998085') format('woff'),
       url('../font/bc-font/fontello.ttf?10998085') format('truetype'),
       url('../font/bc-font/fontello.svg?10998085#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10998085#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-angular:before { content: '\e800'; } /* '' */
.icon-ansible:before { content: '\e801'; } /* '' */
.icon-apache:before { content: '\e802'; } /* '' */
.icon-apache-ant:before { content: '\e803'; } /* '' */
.icon-apple:before { content: '\e804'; } /* '' */
.icon-asp:before { content: '\e805'; } /* '' */
.icon-atom:before { content: '\e806'; } /* '' */
.icon-aurelia:before { content: '\e807'; } /* '' */
.icon-aws:before { content: '\e808'; } /* '' */
.icon-azure:before { content: '\e809'; } /* '' */
.icon-babel:before { content: '\e80a'; } /* '' */
.icon-babylon:before { content: '\e80b'; } /* '' */
.icon-backbone:before { content: '\e80c'; } /* '' */
.icon-batchmaster:before { content: '\e80d'; } /* '' */
.icon-bitbucket:before { content: '\e80e'; } /* '' */
.icon-bluetooth:before { content: '\e80f'; } /* '' */
.icon-bootstrap:before { content: '\e810'; } /* '' */
.icon-bower:before { content: '\e811'; } /* '' */
.icon-brandflow:before { content: '\e812'; } /* '' */
.icon-c:before { content: '\e813'; } /* '' */
.icon-can:before { content: '\e814'; } /* '' */
.icon-cassandra:before { content: '\e815'; } /* '' */
.icon-cd:before { content: '\e816'; } /* '' */
.icon-centos:before { content: '\e817'; } /* '' */
.icon-certbot:before { content: '\e818'; } /* '' */
.icon-chartjs:before { content: '\e819'; } /* '' */
.icon-chip:before { content: '\e81a'; } /* '' */
.icon-chrome:before { content: '\e81b'; } /* '' */
.icon-cisco:before { content: '\e81c'; } /* '' */
.icon-clojure:before { content: '\e81d'; } /* '' */
.icon-cobol:before { content: '\e81e'; } /* '' */
.icon-cobol-alt:before { content: '\e81f'; } /* '' */
.icon-code:before { content: '\e820'; } /* '' */
.icon-code-igniter:before { content: '\e821'; } /* '' */
.icon-code-writer:before { content: '\e822'; } /* '' */
.icon-coffee-script:before { content: '\e823'; } /* '' */
.icon-composer:before { content: '\e824'; } /* '' */
.icon-computer:before { content: '\e825'; } /* '' */
.icon-cpp:before { content: '\e826'; } /* '' */
.icon-c-sharp:before { content: '\e827'; } /* '' */
.icon-css:before { content: '\e828'; } /* '' */
.icon-curl:before { content: '\e829'; } /* '' */
.icon-cypress:before { content: '\e82a'; } /* '' */
.icon-cypress-alt:before { content: '\e82b'; } /* '' */
.icon-d3:before { content: '\e82c'; } /* '' */
.icon-dart:before { content: '\e82d'; } /* '' */
.icon-database:before { content: '\e82e'; } /* '' */
.icon-debian:before { content: '\e82f'; } /* '' */
.icon-disk:before { content: '\e830'; } /* '' */
.icon-django:before { content: '\e831'; } /* '' */
.icon-docker:before { content: '\e832'; } /* '' */
.icon-dojo:before { content: '\e833'; } /* '' */
.icon-dynamics-ax:before { content: '\e834'; } /* '' */
.icon-eclipse:before { content: '\e835'; } /* '' */
.icon-edge:before { content: '\e836'; } /* '' */
.icon-elastic-search:before { content: '\e837'; } /* '' */
.icon-electronic-board:before { content: '\e838'; } /* '' */
.icon-elixir:before { content: '\e839'; } /* '' */
.icon-elm:before { content: '\e83a'; } /* '' */
.icon-ember:before { content: '\e83b'; } /* '' */
.icon-erlang:before { content: '\e83c'; } /* '' */
.icon-express:before { content: '\e83d'; } /* '' */
.icon-facebook-api:before { content: '\e83e'; } /* '' */
.icon-fedora:before { content: '\e83f'; } /* '' */
.icon-fedora-alt:before { content: '\e840'; } /* '' */
.icon-firebase:before { content: '\e841'; } /* '' */
.icon-firefox:before { content: '\e842'; } /* '' */
.icon-flask:before { content: '\e843'; } /* '' */
.icon-flight:before { content: '\e844'; } /* '' */
.icon-flux:before { content: '\e845'; } /* '' */
.icon-foundation:before { content: '\e846'; } /* '' */
.icon-fsharp:before { content: '\e847'; } /* '' */
.icon-git:before { content: '\e848'; } /* '' */
.icon-github:before { content: '\e849'; } /* '' */
.icon-gitlab:before { content: '\e84a'; } /* '' */
.icon-gnome:before { content: '\e84b'; } /* '' */
.icon-go:before { content: '\e84c'; } /* '' */
.icon-google-adsense:before { content: '\e84d'; } /* '' */
.icon-google-analytics:before { content: '\e84e'; } /* '' */
.icon-google-cloud:before { content: '\e84f'; } /* '' */
.icon-google-maps:before { content: '\e850'; } /* '' */
.icon-gradle:before { content: '\e851'; } /* '' */
.icon-gradle-alt:before { content: '\e852'; } /* '' */
.icon-graphic-card:before { content: '\e853'; } /* '' */
.icon-groovy:before { content: '\e854'; } /* '' */
.icon-grunt:before { content: '\e855'; } /* '' */
.icon-gulp:before { content: '\e856'; } /* '' */
.icon-guon:before { content: '\e857'; } /* '' */
.icon-gwt:before { content: '\e858'; } /* '' */
.icon-hadoop:before { content: '\e859'; } /* '' */
.icon-handlebars:before { content: '\e85a'; } /* '' */
.icon-haskell:before { content: '\e85b'; } /* '' */
.icon-heroku:before { content: '\e85c'; } /* '' */
.icon-hfsql:before { content: '\e85d'; } /* '' */
.icon-hfsql-alt:before { content: '\e85e'; } /* '' */
.icon-hibernate:before { content: '\e85f'; } /* '' */
.icon-html:before { content: '\e860'; } /* '' */
.icon-hypersql:before { content: '\e861'; } /* '' */
.icon-initializr:before { content: '\e862'; } /* '' */
.icon-intellij:before { content: '\e863'; } /* '' */
.icon-internet-explorer:before { content: '\e864'; } /* '' */
.icon-ionic:before { content: '\e865'; } /* '' */
.icon-jasmine:before { content: '\e866'; } /* '' */
.icon-java:before { content: '\e867'; } /* '' */
.icon-javafx:before { content: '\e868'; } /* '' */
.icon-javafx-alt:before { content: '\e869'; } /* '' */
.icon-javascript:before { content: '\e86a'; } /* '' */
.icon-jboss:before { content: '\e86b'; } /* '' */
.icon-jboss-alt:before { content: '\e86c'; } /* '' */
.icon-jboss-tools:before { content: '\e86d'; } /* '' */
.icon-jenkins:before { content: '\e86e'; } /* '' */
.icon-jira:before { content: '\e86f'; } /* '' */
.icon-jpa:before { content: '\e870'; } /* '' */
.icon-jquery:before { content: '\e871'; } /* '' */
.icon-jquery-ui:before { content: '\e872'; } /* '' */
.icon-jquery-ui-alt:before { content: '\e873'; } /* '' */
.icon-jscs:before { content: '\e874'; } /* '' */
.icon-json:before { content: '\e875'; } /* '' */
.icon-kde:before { content: '\e876'; } /* '' */
.icon-kendo-ui:before { content: '\e877'; } /* '' */
.icon-keyboard:before { content: '\e878'; } /* '' */
.icon-knockback:before { content: '\e879'; } /* '' */
.icon-knockout:before { content: '\e87a'; } /* '' */
.icon-kotlin:before { content: '\e87b'; } /* '' */
.icon-kubernates:before { content: '\e87c'; } /* '' */
.icon-laravel:before { content: '\e87d'; } /* '' */
.icon-latex:before { content: '\e87e'; } /* '' */
.icon-leaflet:before { content: '\e87f'; } /* '' */
.icon-less:before { content: '\e880'; } /* '' */
.icon-less-alt:before { content: '\e881'; } /* '' */
.icon-lets-encrypt:before { content: '\e882'; } /* '' */
.icon-linux-mint:before { content: '\e883'; } /* '' */
.icon-lisp:before { content: '\e884'; } /* '' */
.icon-livevyvle:before { content: '\e885'; } /* '' */
.icon-lodash:before { content: '\e886'; } /* '' */
.icon-lua:before { content: '\e887'; } /* '' */
.icon-lua-alt:before { content: '\e888'; } /* '' */
.icon-luminoth:before { content: '\e889'; } /* '' */
.icon-mac-os:before { content: '\e88a'; } /* '' */
.icon-mac-os-alt:before { content: '\e88b'; } /* '' */
.icon-magento:before { content: '\e88c'; } /* '' */
.icon-makefile:before { content: '\e88d'; } /* '' */
.icon-mariadb:before { content: '\e88e'; } /* '' */
.icon-marionette:before { content: '\e88f'; } /* '' */
.icon-markdown:before { content: '\e890'; } /* '' */
.icon-markdown-alt:before { content: '\e891'; } /* '' */
.icon-materialize:before { content: '\e892'; } /* '' */
.icon-maven:before { content: '\e893'; } /* '' */
.icon-mdbootstrap:before { content: '\e894'; } /* '' */
.icon-meteor:before { content: '\e895'; } /* '' */
.icon-microsoft:before { content: '\e896'; } /* '' */
.icon-mithril:before { content: '\e897'; } /* '' */
.icon-modernizr:before { content: '\e898'; } /* '' */
.icon-mongodb:before { content: '\e899'; } /* '' */
.icon-mouse:before { content: '\e89a'; } /* '' */
.icon-mysql:before { content: '\e89b'; } /* '' */
.icon-net:before { content: '\e89c'; } /* '' */
.icon-nginx:before { content: '\e89d'; } /* '' */
.icon-nodejs:before { content: '\e89e'; } /* '' */
.icon-notepadpp:before { content: '\e89f'; } /* '' */
.icon-npm:before { content: '\e8a0'; } /* '' */
.icon-numpy:before { content: '\e8a1'; } /* '' */
.icon-odoo:before { content: '\e8a2'; } /* '' */
.icon-opencv:before { content: '\e8a3'; } /* '' */
.icon-opera:before { content: '\e8a4'; } /* '' */
.icon-oracle:before { content: '\e8a5'; } /* '' */
.icon-ovh:before { content: '\e8a6'; } /* '' */
.icon-paypal:before { content: '\e8a7'; } /* '' */
.icon-pegasus:before { content: '\e8a8'; } /* '' */
.icon-perl:before { content: '\e8a9'; } /* '' */
.icon-phone:before { content: '\e8aa'; } /* '' */
.icon-phonegap:before { content: '\e8ab'; } /* '' */
.icon-php:before { content: '\e8ac'; } /* '' */
.icon-polyfill:before { content: '\e8ad'; } /* '' */
.icon-polymer:before { content: '\e8ae'; } /* '' */
.icon-postgre:before { content: '\e8af'; } /* '' */
.icon-powershell:before { content: '\e8b0'; } /* '' */
.icon-powersupply:before { content: '\e8b1'; } /* '' */
.icon-prestashop:before { content: '\e8b2'; } /* '' */
.icon-processor:before { content: '\e8b3'; } /* '' */
.icon-pug:before { content: '\e8b4'; } /* '' */
.icon-pure-css:before { content: '\e8b5'; } /* '' */
.icon-pure-css-alt:before { content: '\e8b6'; } /* '' */
.icon-python:before { content: '\e8b7'; } /* '' */
.icon-qt:before { content: '\e8b8'; } /* '' */
.icon-qt-alt:before { content: '\e8b9'; } /* '' */
.icon-r:before { content: '\e8ba'; } /* '' */
.icon-ram:before { content: '\e8bb'; } /* '' */
.icon-raspberry:before { content: '\e8bc'; } /* '' */
.icon-react:before { content: '\e8bd'; } /* '' */
.icon-redhat:before { content: '\e8be'; } /* '' */
.icon-redis:before { content: '\e8bf'; } /* '' */
.icon-redux:before { content: '\e8c0'; } /* '' */
.icon-require:before { content: '\e8c1'; } /* '' */
.icon-responsive:before { content: '\e8c2'; } /* '' */
.icon-rest:before { content: '\e8c3'; } /* '' */
.icon-ruby:before { content: '\e8c4'; } /* '' */
.icon-rubyonrails:before { content: '\e8c5'; } /* '' */
.icon-rust:before { content: '\e8c6'; } /* '' */
.icon-safari:before { content: '\e8c7'; } /* '' */
.icon-sage:before { content: '\e8c8'; } /* '' */
.icon-sap:before { content: '\e8c9'; } /* '' */
.icon-sap-alt:before { content: '\e8ca'; } /* '' */
.icon-sass:before { content: '\e8cb'; } /* '' */
.icon-scala:before { content: '\e8cc'; } /* '' */
.icon-scratch:before { content: '\e8cd'; } /* '' */
.icon-screen:before { content: '\e8ce'; } /* '' */
.icon-semantic-ui:before { content: '\e8cf'; } /* '' */
.icon-server:before { content: '\e8d0'; } /* '' */
.icon-silex:before { content: '\e8d1'; } /* '' */
.icon-slack:before { content: '\e8d2'; } /* '' */
.icon-snapsvg:before { content: '\e8d3'; } /* '' */
.icon-solaris:before { content: '\e8d4'; } /* '' */
.icon-sonar:before { content: '\e8d5'; } /* '' */
.icon-sonar-alt:before { content: '\e8d6'; } /* '' */
.icon-spark:before { content: '\e8d7'; } /* '' */
.icon-spark-alt:before { content: '\e8d8'; } /* '' */
.icon-spring:before { content: '\e8d9'; } /* '' */
.icon-sql-server:before { content: '\e8da'; } /* '' */
.icon-sublime-text:before { content: '\e8db'; } /* '' */
.icon-subversive:before { content: '\e8dc'; } /* '' */
.icon-subversive-alt:before { content: '\e8dd'; } /* '' */
.icon-swift:before { content: '\e8de'; } /* '' */
.icon-symfony:before { content: '\e8df'; } /* '' */
.icon-symfony-alt:before { content: '\e8e0'; } /* '' */
.icon-syspro:before { content: '\e8e1'; } /* '' */
.icon-systemd:before { content: '\e8e2'; } /* '' */
.icon-telegram:before { content: '\e8e3'; } /* '' */
.icon-tensorflow:before { content: '\e8e4'; } /* '' */
.icon-testflight:before { content: '\e8e5'; } /* '' */
.icon-three:before { content: '\e8e6'; } /* '' */
.icon-tomcat:before { content: '\e8e7'; } /* '' */
.icon-tortoise:before { content: '\e8e8'; } /* '' */
.icon-travis:before { content: '\e8e9'; } /* '' */
.icon-trello:before { content: '\e8ea'; } /* '' */
.icon-troop:before { content: '\e8eb'; } /* '' */
.icon-twig:before { content: '\e8ec'; } /* '' */
.icon-typescript:before { content: '\e8ed'; } /* '' */
.icon-ubuntu:before { content: '\e8ee'; } /* '' */
.icon-uikit:before { content: '\e8ef'; } /* '' */
.icon-underscore:before { content: '\e8f0'; } /* '' */
.icon-underscore-alt:before { content: '\e8f1'; } /* '' */
.icon-unity:before { content: '\e8f2'; } /* '' */
.icon-unix:before { content: '\e8f3'; } /* '' */
.icon-unreal:before { content: '\e8f4'; } /* '' */
.icon-vagrant:before { content: '\e8f5'; } /* '' */
.icon-vim:before { content: '\e8f6'; } /* '' */
.icon-vim-alt:before { content: '\e8f7'; } /* '' */
.icon-visual-basic:before { content: '\e8f8'; } /* '' */
.icon-visual-studio:before { content: '\e8f9'; } /* '' */
.icon-vuejs:before { content: '\e8fa'; } /* '' */
.icon-wifi:before { content: '\e8fb'; } /* '' */
.icon-wildfly:before { content: '\e8fc'; } /* '' */
.icon-windev:before { content: '\e8fd'; } /* '' */
.icon-windev-alt:before { content: '\e8fe'; } /* '' */
.icon-netbeans:before { content: '\e8ff'; } /* '' */
.icon-windows:before { content: '\e900'; } /* '' */
.icon-wordpress:before { content: '\e901'; } /* '' */
.icon-xamarin:before { content: '\e902'; } /* '' */
.icon-xamarin-alt:before { content: '\e903'; } /* '' */
.icon-yaml:before { content: '\e904'; } /* '' */
.icon-yarn:before { content: '\e905'; } /* '' */
.icon-yarn-alt:before { content: '\e906'; } /* '' */
.icon-zend:before { content: '\e907'; } /* '' */
.icon-zepto:before { content: '\e908'; } /* '' */
.icon-zingchart:before { content: '\e909'; } /* '' */
.icon-zingchart-alt:before { content: '\e90a'; } /* '' */
.icon-abas:before { content: '\e90b'; } /* '' */
.icon-ajax:before { content: '\e90c'; } /* '' */
.icon-ampersand:before { content: '\e90d'; } /* '' */
.icon-android:before { content: '\e90e'; } /* '' */
.icon-android-studio:before { content: '\e90f'; } /* '' */
.icon-xcode:before { content: '\e910'; } /* '' */